---
 - name: Install Helm if not exists
      unarchive:
        src: https://get.helm.sh/helm-v3.13.1-linux-amd64.tar.gz
        dest: /usr/local/bin
        extra_opts: "--strip-components=1"
        owner: root
        group: root
        mode: 0755
        remote_src: true
      args:
        creates: /usr/local/bin/helm
